TZ=Europe/Berlin
ISHIKU_APP_URL=http://localhost:8180
ISHIKU_ALLOWED_ORIGINS=
ISHIKU_BASE_PATH=/
ISHIKU_DATA_DIR=/data
ISHIKU_LOG_LEVEL=info
ISHIKU_SETUP_SECRET_FILE=/run/secrets/ishiku_setup_secret
ISHIKU_SETUP_SECRET=
PULLIKU_FILE_RETENTION_DAYS=7
PULLIKU_CLEANUP_INTERVAL_SECONDS=3600
SESSION_DAYS=14
APP_COOKIE_SECURE=false
